.chalk-list rect{
	fill:none;
	stroke:#a0a0a0;
	stroke-width:1px;
}

.chalk-list text{
	font-size: 10;
	font-family: Courier new;
	stroke:none;
	fill:#a0a0a0;
}

.chalk-list-index text{
	font-size: 10;
	font-family: Courier new;
	stroke:none;
	fill: #606060;
}


.chalk-list-index rect,
.chalk-list-index polygon{
	stroke:none;
	fill: #E1E1C8;
}

.chalk-list-item {
	fill:#AF9B60;
}

.chalk-text text {
	font-size: 10;
	font-family: Courier new;
	stroke:none;
	fill:#5E610B;
}

.chalk-text rect {
	stroke:none;
	stroke-width:1px;
	fill:#74E3Cf;
}

.chalk-int text {
	font-size: 10;
	font-family: Courier new;
	stroke:none;
	fill:#007400;
}

.chalk-int rect {
	fill:#88FF53;	
}

.chalk-str text {
	font-size: 10;
	font-family: Courier new;
	stroke:none;
	fill:#086A87;
}

.chalk-str rect {
	fill:#A9D0FF;
}